body{
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    background-color: #faebd7;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

html{
    padding: 0px;
    margin: 0px;
}

/* Header */

li{
    list-style: none;
}

.right-links{
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: right;
    align-items: center;
    padding-left: 0px;
    margin: 0px;
    align-self: center;
    flex-wrap: nowrap;
}

.logo{
    height: 80px;
    width: auto;
    display: block;
    margin-right: auto;
    align-self: center;
}

.header{
   background-color: #faebd7;
   margin: 0px;
   padding-bottom: 7px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 80px;
    flex-wrap: wrap;
    background-color: #faebd7;
    row-gap: 8px;
    border-bottom-style: solid ;
    border-bottom-width: 1px;
    border-bottom-color: #f2f2f2;
}

body {
    margin:0;
    padding:0;
  }



a{
    text-decoration: none;
    display: inline;
    color: #358600;
}

a:hover{
    color: #60993E;
}

/*content*/
.content-wrap{
    display: flex;
    justify-content: space-between;
    height: 700px;
    align-items: center;
    justify-content: space-around;
}

.content-wrap > img{
    height: 500px;
    width: auto;
    margin-right: 8px;
    margin-left: auto;
}

.text-wrap{
    align-items: flex-start;
    justify-content: left;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.hola{
    font-size: 100px;
    color: #358600;
    font-weight: bold;
}

.text-wrap > h4 {
    font-size: 30px;
    align-self: flex-start;
}






/*footer*/
.footer-wrapper > a {
    font-size: 12px;
    margin: 0px;
}

footer{
    background-color: #f2f2f240;    
    margin-bottom: 0px;
    padding: 0px;
    border-style: border-box;
    height: 20px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
}

.footer-wrapper{
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: auto;
    padding: 8px;
}

#firma{
    font-size: 12px;
    margin: 0px;

}